* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.section {
  width: 1140px;
  margin: 0 auto;
}

.main-cnr {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#2F2F2F), to(#000000));
  background: linear-gradient(90deg, #2F2F2F 0%, #000000 100%);
  background-size: contain;
}

.main-cnr .group-vector {
  background: url("images/group-vector.png") no-repeat;
}

.main-cnr .group-vector .header {
  padding: 40px;
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-cnr .group-vector .header nav.navbar {
  background: url(images/logo-bg-circle.svg) no-repeat;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 36px;
}

.main-cnr .group-vector .header nav.navbar .logo-img {
  margin: 20px 0 0 22px;
  width: 25px;
  height: 29px;
}

.main-cnr .group-vector .header nav.navbar .product-title {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.main-cnr .group-vector .header .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 42px;
}

.main-cnr .group-vector .product-sect {
  width: 38%;
  margin: 4% auto;
}

.main-cnr .group-vector .product-sect .product-content {
  color: #A8A8A8;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.main-cnr .group-vector .product-sect .product-content .paragraph-content {
  margin-bottom: 10px;
}

.main-cnr .border {
  border-bottom: 1px solid #E3E1E1;
  margin-bottom: 140px;
  margin-top: 167px;
}

.main-cnr .primary-btn {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 14px;
  white-space: nowrap;
}

.main-cnr .primary-btn .btn {
  background: #5C5C5C80;
  padding: 30px 24px;
  -webkit-box-shadow: 0px 6px 24px rgba(36, 25, 84, 0.1);
          box-shadow: 0px 6px 24px rgba(36, 25, 84, 0.1);
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #E9E9E9;
}

.main-cnr .section-content {
  color: #fff;
  width: 1140px;
  margin: 0 auto;
}

.main-cnr .section-content .sect-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-cnr .section-content .sect-row .products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-cnr .section-content .sect-row .products-section.browser-content {
  margin-top: 44px;
}

.main-cnr .section-content .sect-row .products-section .sect-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-cnr .section-content .sect-row .products-section .sect-img.browser {
  margin-right: 20px;
}

.main-cnr .section-content .sect-row .products-section .sect-img .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-cnr .section-content .sect-row .products-section.vector-img {
  background: url(images/group-vector2.png) no-repeat;
  background-size: contain;
}

.main-cnr .section-content .sect-row .products-section .sect-content .title {
  font-size: 32px;
  font-weight: 700;
}

.main-cnr .section-content .sect-row .products-section .sect-content a {
  color: #6AABF3;
}

.main-cnr .section-content .sect-row .products-section .sect-content a:hover {
  color: #551A8B;
}

.main-cnr .section-content .sect-row .products-section .sect-content .paragraph {
  font-size: 18px;
  font-weight: 400;
  color: #898989;
  margin: 50px 0 20px;
}

.main-cnr .section-content .sect-row .products-section .sect-content .list-item {
  font-size: 20px;
  color: #898989;
  line-height: 32px;
  font-weight: 400;
}

.main-cnr .footer-section {
  color: #898989;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 648px;
  height: 44px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -105px;
  padding-bottom: 60px;
  gap: 30px;
}

.main-cnr .footer-section .social-links a.btn {
  background: #eef7fe;
  border-radius: 42px;
  width: 42px;
  height: 42px;
  text-align: center;
  vertical-align: middle;
  color: #241954;
  margin-right: 2%;
  margin-top: 20px;
  display: inline-block;
}

.main-cnr .footer-section .social-links a.btn .fab {
  color: #241954;
  opacity: 0.5;
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}
/*# sourceMappingURL=index.css.map */