* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color:#fff;
  --secondary-color: #898989;
  --bg-color:linear-gradient(90deg, #2F2F2F 0%, #000000 100%);
  --main-text-color:#A8A8A8;
  --btn-color:#E9E9E9;
}

.light-theme {
  --primary-color:#000;
  --secondary-color: #000;
  --bg-color:#fff;
  --main-text-color:#000;
  --btn-color:#000;
}

.section {
  width: 1140px;
  margin: 0 auto;
}

.main-cnr {
  width: 100%;
  background: var(--bg-color);
  background-size: contain;
}

.main-cnr .group-vector {
  background: url("images/group-vector.png") no-repeat;
}

.main-cnr .group-vector .header {
  padding: 40px;
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-cnr .group-vector .header nav.navbar {
  background: url(images/logo-bg-circle.svg) no-repeat;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 36px;
}

.main-cnr .group-vector .header nav.navbar .logo-img {
  margin: 20px 0 0 22px;
  width: 25px;
  height: 29px;
}

.main-cnr .group-vector .header nav.navbar .product-title {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.main-cnr .group-vector .header .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 42px;
}

.main-cnr .group-vector .header .menu-list #icon {
  width: 30px;
  cursor: pointer;
  margin-top: -12px;
}

.main-cnr .group-vector .product-sect {
  width: 38%;
  margin: 4% auto;
}

.main-cnr .group-vector .product-sect .product-content {
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.main-cnr .group-vector .product-sect .product-content .paragraph-content {
  margin-bottom: 10px;
}

.main-cnr .border {
  border-bottom: 1px solid #E3E1E1;
  width: 784px;
  margin: 167px auto 140px;
}

.main-cnr .border.border-footer {
  width: 100%;
}

.main-cnr .section-content {
  color: var(--primary-color);
}

.main-cnr .section-content .sect-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-cnr .section-content .sect-row .products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-cnr .section-content .sect-row .products-section .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-cnr .section-content .sect-row .products-section.product-img {
  background: url(images/product-img.png) no-repeat;
  background-position: 114px;
}

.main-cnr .section-content .sect-row .products-section.product-img .kapture-img {
  background: url(images/kapture-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  margin-left: 22%;
}

.main-cnr .section-content .sect-row .products-section.product-img .ufallAlert-img {
  background: url(images/ufallAlert-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  margin-left: 22%;
}

.main-cnr .section-content .sect-row .products-section.product-img .distanceD-img {
  background: url(images/DistanceD-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  margin-left: 22%;
}

.main-cnr .section-content .sect-row .products-section.product-img .myfamily-img {
  background: url(images/myFamily-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  margin-left: 22%;
}

.main-cnr .section-content .sect-row .products-section.product-img .appLock-img {
  background: url(images/appLock-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  margin-left: 22%;
}

.main-cnr .section-content .sect-row .products-section.product-img .redGreen-img {
  background: url(images/redGreen-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  margin-left: 22%;
}

.main-cnr .section-content .sect-row .products-section.product-img .getSmart-img {
  background: url(images/getSmart-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  margin-left: 22%;
}

.main-cnr .section-content .sect-row .products-section.product-img .unfoldPrints-img {
  background: url(images/unfoldPrints-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  margin-left: 22%;
}

.main-cnr .section-content .sect-row .products-section.product-right-img {
  background: url(images/product-img.png) no-repeat;
  background-position: 85%;
}

.main-cnr .section-content .sect-row .products-section.product-right-img .reqorder-img {
  background: url(images/reqorder-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.main-cnr .section-content .sect-row .products-section.product-right-img .kapture-right-img {
  background: url(images/kapture-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.main-cnr .section-content .sect-row .products-section.product-right-img .ufoldQuotes-img {
  background: url(images/unfoldQuotes-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.main-cnr .section-content .sect-row .products-section.product-right-img .mysecureMe-img {
  background: url(images/mySecureme-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.main-cnr .section-content .sect-row .products-section.product-right-img .secureMe-img {
  background: url(images/secureMe-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.main-cnr .section-content .sect-row .products-section.product-right-img .wallet-img {
  background: url(images/wallet-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.main-cnr .section-content .sect-row .products-section.product-right-img .droidTransact-img {
  background: url(images/droidTransact-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.main-cnr .section-content .sect-row .products-section.product-right-img .mobileSwitch-img {
  background: url(images/mobileSwitch-product.png) no-repeat;
  background-position: left center;
  height: 200px;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.main-cnr .section-content .sect-row .products-section.vector-img {
  background: url(images/group-vector2.png) no-repeat;
  background-size: contain;
}

.main-cnr .section-content .sect-row .products-section .sect-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-cnr .section-content .sect-row .products-section .sect-content.left-sect {
  float: left;
  margin-left: 24%;
}

.main-cnr .section-content .sect-row .products-section .sect-content.browser-url {
  margin-right: 42%;
}

.main-cnr .section-content .sect-row .products-section .sect-content .content-sect {
  width: 60%;
}

.main-cnr .section-content .sect-row .products-section .sect-content .content-sect .title {
  font-size: 32px;
  font-weight: 700;
}

.main-cnr .section-content .sect-row .products-section .sect-content .content-sect a {
  color: #6AABF3;
}

.main-cnr .section-content .sect-row .products-section .sect-content .content-sect a:hover {
  color: #551A8B;
}

.main-cnr .section-content .sect-row .products-section .sect-content .content-sect .paragraph {
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary-color);
  margin: 50px 0 20px;
}

.main-cnr .section-content .sect-row .products-section .sect-content .content-sect .list-item {
  font-size: 20px;
  color: var(--secondary-color);
  line-height: 32px;
  font-weight: 400;
}

.main-cnr .section-content .sect-row .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.main-cnr .section-content .sect-row .primary-btn {
  border: 2px solid #80b7c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 20px;
  gap: 10px;
  width: 162px;
  padding: 12px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% 24%;
  cursor: pointer;
}

.main-cnr .section-content .sect-row .primary-btn.browser-btn {
  margin: 20px 0 -20px 0;
}

.main-cnr .section-content .sect-row .primary-btn.right-btn {
  margin: -22px 0 0 65%;
}

.main-cnr .footer-section {
  color: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 648px;
  height: 44px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -105px;
  padding-bottom: 60px;
  gap: 30px;
}

.main-cnr .footer-section .copy-rights {
  margin-top: 22px;
}

.main-cnr .footer-section .social-links a.btn {
  background: #878787;
  border-radius: 42px;
  width: 42px;
  height: 42px;
  text-align: center;
  vertical-align: middle;
  color: #241954;
  margin-right: 2%;
  margin-top: 20px;
  display: inline-block;
}

.main-cnr .footer-section .social-links a.btn .fab {
  color: #4b4b4b;
  opacity: 0.5;
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}

.main-cnr .footer-section .footer-content {
  margin-top: 22px;
}

#more {
  display: none;
}

#more {
  width: 1024px;
  margin: 0 auto;
  color: #898989;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px;
}

.btn-label {
  color: var(--primary-color);
  background: none;
  font-size: 16px;
  border: none;
}
/*# sourceMappingURL=unfoldlabs.css.map */